.navbar {
    background: rgba(0, 0, 0, 0.7);
  
    opacity: 0.8;
  }
  .navbar .container.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .container.head:nth-child(2) {
    flex-grow: 2;
    text-align: center;
  }
  /* list icon */
  .listicon {
    width: 100%;
  }
  
  .btn-list {
    width: 37px;
    height: 30px;
    
  }
  
  .word {
    color: white;
    font-size: 25px;
    right: 65px;
    text-decoration: none;
  }
  
  .btn-logo {
    width: 230px;
    height: 40px;
    bottom: 5px;
    position: relative;
    right: 535px;
  }

/* Màu chủ đạo */
.theme{
    height:250ch;
    position: relative;
    bottom: 60px;
}

/* Phần head của bài */

.áo-1{
    display: block;
  width: 100%;
  height: 790px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 43px;
}
.text1{
    display: block;
  width: 15%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  right: 300px;
}
.chu1{
    width: 540px;
    position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 250px;
  left: 160px;
  font-size: 23px;
  font-family: "sans-serif";
}

.day1{
    width: 90%;
    height: 320px;
    position: relative;
    left: 80px;
    bottom: 800px;
}
.day2{
    width: 90%;
    height: 320px;
    position: relative;
    left: 80px;
    bottom: 800px;
}

.áo-2{
    width: 23%;
    height: 320px;
    position: relative;
    left: 410px;
    bottom: 160px;
}
.áo-3{
    width: 23%;
    height: 320px;
    position: relative;
    left: 730px;
    bottom: 160px;
} 
.áo-4{
    width: 23%;
    height: 320px;
    position: relative;
    right: 612px;
    top: 160px;
} 
.áo-5{
    width: 23%;
    height: 320px;
    position: relative;
    top: 160px;
    right: 298px;
} 
.áo-6{
    width: 23%;
    height: 320px;
    position: relative;
    left: 1078px;
    bottom: 160px;
} 
 
.dark-1{
    background-color: rgb(33, 37, 41);
}
/* Phần ô chọn */
.aothunhat{
    background-color: black;
    
    display: block;
    width: 88%;
    height: 640px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    bottom: 970px;
}
.close1{
    position: relative;
    bottom: 940px;
    left: 50px;
    background-color: white;
}

.áo-all-phần-2{
    height: 640px;
}
.text-áo-all-phần-2{
    color: white;
    position: relative;
    bottom: 1570px;
    width: 300px;
    font-size: 25px;
    font-family:"sans-serif" ;
    left: 800px;
}

.áo-3-phần-2{
    height: 640px;
}

/* phan list */


.Phần-list{
    background: rgba(0, 0, 0, 0.7); 
    opacity:0.9;
    height:300px;
    position: relative;
    bottom:2164px;
}

.btn-category{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 200px;
    color:white ;
    font-size: 30px;
    position: relative;
    top: 20px;
    font-family: Bradley Hand ITC ;
}

.btn-newarival{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 200px;
    color:white ;
    font-size: 30px;
    position: relative;
    top: 55px;
    font-family: Bradley Hand ITC ;
}

.btn-toptrending{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 200px;
    color:white ;
    font-size: 30px;
    position: relative;
    top: 150px;
    font-family: Bradley Hand ITC ;
}

.btn-Áo{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 500px;
    color:white ;
    font-size: 30px;
    position: relative;
    top: 100px;
    font-family: Bradley Hand ITC ;
}

.btn-quần{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 200px;
    color:white ;
    font-size: 30px;
    position: relative;
    top: 250px;
    font-family: Bradley Hand ITC ;
}

/* kết */
.group-trang-trc{
    position: relative;
    left: 20px;
    top: 20px;
}
.end{
    height: 100px;
    position: relative;
    bottom: 71px;
    background-color: rgb(39, 39,39);
}

.dropup{
    position: relative;
    left: 400px;
}
.dropdown-toggle{
    color: rgb(139, 139,139);
}

.text{
    color:rgb(139, 139,139) ;
    font-size: 14px;
    margin-left:1280px;
    position: relative;
    bottom: 7px;
}

.dropdown-menu{
    width: 375px;
   background-color:rgb(39, 39,39);
   
  
}

.btn-sssstory{
    width: 373px;
    background-color:rgb(39, 39,39);
    color: gray;
    font-family: Batang;
    text-align: center;
    font-size: 18px;
}

.btn-contact{
    width: 373px;
    background-color:rgb(39, 39,39);
    color: gray;
    font-family: Batang;
    text-align: center 
}

/* Phần contact */
.Phần-contact{
    background:orange;
    position: relative;
    bottom: 800px;
    height: 630px;
}

.bi-phone{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 400px;
    left:220px ;
}
.bi-pin-map-fill{
    width: 140px;
    height: 150px;
    position: relative;
    bottom: 400px;
    left:545px ;
}
.bi-building{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 400px;
    left:850px ;
}

.contact-btn{
    height: 630px;
    width: 1600px;
    position:static;
    bottom: 800px;
}

.phone-offcanvas{
    background-color: orange;
}
.st-phone{
    background-color: orange;
    width: 200px;
}

.location-offcanvas{
    background-color: orange;
}
.st-location{
    background-color: orange;
    width: 350px;
}

.location-sg{
    position: relative;
    bottom: 90px;
    left: 740px;
}
.fs-6{
    font-family: cursive;
    position: relative;
    left: 50px;
    top: 20px;
}

.tel{
    color: black;
}
.mailto{
    color:black ;
}